        	html{box-sizing:border-box;-ms-overflow-style:scrollbar}*,::after,::before{box-sizing:inherit}.container,.container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.no-gutters{margin-right:0;margin-left:0}.no-gutters>.col,.no-gutters>[class*=col-]{padding-right:0;padding-left:0}.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px}.col{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}.col-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-first{-ms-flex-order:-1;order:-1}.order-last{-ms-flex-order:13;order:13}.order-0{-ms-flex-order:0;order:0}.order-1{-ms-flex-order:1;order:1}.order-2{-ms-flex-order:2;order:2}.order-3{-ms-flex-order:3;order:3}.order-4{-ms-flex-order:4;order:4}.order-5{-ms-flex-order:5;order:5}.order-6{-ms-flex-order:6;order:6}.order-7{-ms-flex-order:7;order:7}.order-8{-ms-flex-order:8;order:8}.order-9{-ms-flex-order:9;order:9}.order-10{-ms-flex-order:10;order:10}.order-11{-ms-flex-order:11;order:11}.order-12{-ms-flex-order:12;order:12}.offset-1{margin-left:8.333333%}.offset-2{margin-left:16.666667%}.offset-3{margin-left:25%}.offset-4{margin-left:33.333333%}.offset-5{margin-left:41.666667%}.offset-6{margin-left:50%}.offset-7{margin-left:58.333333%}.offset-8{margin-left:66.666667%}.offset-9{margin-left:75%}.offset-10{margin-left:83.333333%}.offset-11{margin-left:91.666667%}@media (min-width:576px){.col-sm{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-sm-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}.col-sm-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-sm-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-sm-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-sm-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-sm-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-sm-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-sm-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-sm-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-sm-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-sm-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-sm-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-sm-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-sm-first{-ms-flex-order:-1;order:-1}.order-sm-last{-ms-flex-order:13;order:13}.order-sm-0{-ms-flex-order:0;order:0}.order-sm-1{-ms-flex-order:1;order:1}.order-sm-2{-ms-flex-order:2;order:2}.order-sm-3{-ms-flex-order:3;order:3}.order-sm-4{-ms-flex-order:4;order:4}.order-sm-5{-ms-flex-order:5;order:5}.order-sm-6{-ms-flex-order:6;order:6}.order-sm-7{-ms-flex-order:7;order:7}.order-sm-8{-ms-flex-order:8;order:8}.order-sm-9{-ms-flex-order:9;order:9}.order-sm-10{-ms-flex-order:10;order:10}.order-sm-11{-ms-flex-order:11;order:11}.order-sm-12{-ms-flex-order:12;order:12}.offset-sm-0{margin-left:0}.offset-sm-1{margin-left:8.333333%}.offset-sm-2{margin-left:16.666667%}.offset-sm-3{margin-left:25%}.offset-sm-4{margin-left:33.333333%}.offset-sm-5{margin-left:41.666667%}.offset-sm-6{margin-left:50%}.offset-sm-7{margin-left:58.333333%}.offset-sm-8{margin-left:66.666667%}.offset-sm-9{margin-left:75%}.offset-sm-10{margin-left:83.333333%}.offset-sm-11{margin-left:91.666667%}}@media (min-width:768px){.col-md{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-md-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}.col-md-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-md-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-md-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-md-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-md-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-md-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-md-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-md-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-md-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-md-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-md-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-md-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-md-first{-ms-flex-order:-1;order:-1}.order-md-last{-ms-flex-order:13;order:13}.order-md-0{-ms-flex-order:0;order:0}.order-md-1{-ms-flex-order:1;order:1}.order-md-2{-ms-flex-order:2;order:2}.order-md-3{-ms-flex-order:3;order:3}.order-md-4{-ms-flex-order:4;order:4}.order-md-5{-ms-flex-order:5;order:5}.order-md-6{-ms-flex-order:6;order:6}.order-md-7{-ms-flex-order:7;order:7}.order-md-8{-ms-flex-order:8;order:8}.order-md-9{-ms-flex-order:9;order:9}.order-md-10{-ms-flex-order:10;order:10}.order-md-11{-ms-flex-order:11;order:11}.order-md-12{-ms-flex-order:12;order:12}.offset-md-0{margin-left:0}.offset-md-1{margin-left:8.333333%}.offset-md-2{margin-left:16.666667%}.offset-md-3{margin-left:25%}.offset-md-4{margin-left:33.333333%}.offset-md-5{margin-left:41.666667%}.offset-md-6{margin-left:50%}.offset-md-7{margin-left:58.333333%}.offset-md-8{margin-left:66.666667%}.offset-md-9{margin-left:75%}.offset-md-10{margin-left:83.333333%}.offset-md-11{margin-left:91.666667%}}@media (min-width:992px){.col-lg{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-lg-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}.col-lg-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-lg-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-lg-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-lg-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-lg-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-lg-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-lg-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-lg-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-lg-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-lg-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-lg-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-lg-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-lg-first{-ms-flex-order:-1;order:-1}.order-lg-last{-ms-flex-order:13;order:13}.order-lg-0{-ms-flex-order:0;order:0}.order-lg-1{-ms-flex-order:1;order:1}.order-lg-2{-ms-flex-order:2;order:2}.order-lg-3{-ms-flex-order:3;order:3}.order-lg-4{-ms-flex-order:4;order:4}.order-lg-5{-ms-flex-order:5;order:5}.order-lg-6{-ms-flex-order:6;order:6}.order-lg-7{-ms-flex-order:7;order:7}.order-lg-8{-ms-flex-order:8;order:8}.order-lg-9{-ms-flex-order:9;order:9}.order-lg-10{-ms-flex-order:10;order:10}.order-lg-11{-ms-flex-order:11;order:11}.order-lg-12{-ms-flex-order:12;order:12}.offset-lg-0{margin-left:0}.offset-lg-1{margin-left:8.333333%}.offset-lg-2{margin-left:16.666667%}.offset-lg-3{margin-left:25%}.offset-lg-4{margin-left:33.333333%}.offset-lg-5{margin-left:41.666667%}.offset-lg-6{margin-left:50%}.offset-lg-7{margin-left:58.333333%}.offset-lg-8{margin-left:66.666667%}.offset-lg-9{margin-left:75%}.offset-lg-10{margin-left:83.333333%}.offset-lg-11{margin-left:91.666667%}}@media (min-width:1200px){.col-xl{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-xl-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}.col-xl-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-xl-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-xl-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-xl-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-xl-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-xl-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-xl-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-xl-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-xl-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-xl-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-xl-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-xl-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-xl-first{-ms-flex-order:-1;order:-1}.order-xl-last{-ms-flex-order:13;order:13}.order-xl-0{-ms-flex-order:0;order:0}.order-xl-1{-ms-flex-order:1;order:1}.order-xl-2{-ms-flex-order:2;order:2}.order-xl-3{-ms-flex-order:3;order:3}.order-xl-4{-ms-flex-order:4;order:4}.order-xl-5{-ms-flex-order:5;order:5}.order-xl-6{-ms-flex-order:6;order:6}.order-xl-7{-ms-flex-order:7;order:7}.order-xl-8{-ms-flex-order:8;order:8}.order-xl-9{-ms-flex-order:9;order:9}.order-xl-10{-ms-flex-order:10;order:10}.order-xl-11{-ms-flex-order:11;order:11}.order-xl-12{-ms-flex-order:12;order:12}.offset-xl-0{margin-left:0}.offset-xl-1{margin-left:8.333333%}.offset-xl-2{margin-left:16.666667%}.offset-xl-3{margin-left:25%}.offset-xl-4{margin-left:33.333333%}.offset-xl-5{margin-left:41.666667%}.offset-xl-6{margin-left:50%}.offset-xl-7{margin-left:58.333333%}.offset-xl-8{margin-left:66.666667%}.offset-xl-9{margin-left:75%}.offset-xl-10{margin-left:83.333333%}.offset-xl-11{margin-left:91.666667%}}
/*======================================= common styles */
.req:after{display: inline-block; color: red; content: '*';}
.trim{ overflow: hidden; }
.hidescrollbar {-ms-overflow-style: none;}
.hidescrollbar ::-webkit-scrollbar { width: 0px;}
.hidescrollbar ::-webkit-scrollbar-track-piece {background-color: transparent; -webkit-border-radius: 6px; }
.temp-hide {display:none;}
:focus,
button:focus { outline: none; border: none; }
* {
	padding: 0;
	margin: 0;	
	box-sizing:border-box;
}
button,input[type="submit"],a{ cursor: pointer; }
body {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: normal;
	color: #000000;
	font-weight: 500;	
}
p{
	margin-bottom:20px;
}
a { color: unset; }
a, a:hover{
	text-decoration:none;
}
sup{ font-size: .6em; }

small {
    font-size: 80%;
}

.btn{
	border-radius: 20px;
	display: inline-block;
	font-size: 14px;
	padding: 5px 30px;
	position: relative;
	text-align: center; 
}

.h1, .h2, .h3, h1:not(.reset), h2:not(.reset), h3:not(.reset) {
	margin-bottom: 10px;
	margin-top: 20px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
	display: inline-block;
	margin: 0;
}


[class^="col-"].centered, 
[class*=" col-"].centered {
	float: none;
	margin-left: auto;
    margin-right: auto;
}
.float-none,
.float-children-none > * {
	float: none;
}
.float-left,
.float-children-left > * {
	float: left;
}
.float-right,
.float-children-right > * { 
	float: right; 
}
.inline-children > * {
	display: inline-block;
}
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	position:relative;
	width: 100%;
	max-width: 1270px;
}
.section{
	margin:50px auto;
}
.main-text {
	padding: 30px 15px;
}
header {
	background-color: rgba(0,0,0,.5);
	height: 105px;
	width: 100%;
	top: 0;
	z-index: 999;
	position: fixed;
	transition: all 0.4s ease-in-out;
  	-webkit-transition: all 0.4s ease-in-out;
  	-moz-transition: all 0.4s ease-in-out;
}
header .container{ 
	max-width: 1700px; 
	height: 100%;
	/* overflow: hidden; added only as hack for amp version of shrinking header */
}
header .container>div{ 
	height: 100%; 
	display: table;
	transition: all 0.4s ease-in-out;
  	-webkit-transition: all 0.4s ease-in-out;
  	-moz-transition: all 0.4s ease-in-out;
} 
.navbar-brand {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
}
.navbar-brand .logo{
	transition: all 0.4s ease-in-out;
  	-webkit-transition: all 0.4s ease-in-out;
  	-moz-transition: all 0.4s ease-in-out;
  	transform-origin: 0 0;
}
.pull-right{
	float:right;
}
.pull-left{
	float:left;
}
.clear {
	clear: both;
}
.inline-block  { display: inline-block; }
.block { display: block; }
.clearfix::after, .clearfix::before {
	content: " ";
	display: table;
}
.clearfix::after {
	clear: both;
}
header .nav-container .site-search{
	display: inline-block;
    height: 100%;
    margin-left: 20px;
    margin-right: 10px;
	font-size: 1.3em;
    color: #fff;
    width: 26px;
}
header .nav-container .site-search .search-wrapper{ display: table; height: 100%; position: relative; }
header .nav-container .site-search .search-wrapper > div{display: table-cell; vertical-align: middle; position: relative; }
header .nav-container .site-search .search-wrapper form { position: absolute; right: -5px; margin-top: -5px; }
header .nav-container .site-search .search-wrapper input[type=text] {
	display: block;
	margin: 0 0 0 auto;
	width: 30px;
	box-sizing: border-box;
	border-radius: 100px;
	font-size: 16px;
	background-color: transparent;
	border: navajowhite;
	background-image: url(searchicon.png);
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 10px 12px 10px;
	opacity: 0;
	-webkit-transition: width 0.4s ease-in-out, background-color 0.5s ease-in-out, opacity 0.8s ease-in;
	-moz-transition: width 0.4s ease-in-out, background-color 0.5s ease-in-out, opacity 0.8s ease-in;
  	-o-transition: width 0.4s ease-in-out, background-color 0.5s ease-in-out, opacity 0.8s ease-in;
	transition: width 0.4s ease-in-out, background-color 0.5s ease-in-out, opacity 0.8s ease-in;
}
header .nav-container .site-search .search-wrapper input[type=text]:hover {cursor: pointer;}
header .nav-container .site-search .search-wrapper input[type=text]:focus {
  width: 250px;
  background-color: #fff;
  opacity: 1;
}
header .nav-container > ul{
    height: 100%;
    margin-bottom: 0;
    display: table-cell;
    vertical-align: top;
}
header .nav-container ul > li {
	height: 100%;
	display: inline-block;
	vertical-align: top;
}
header .nav-container ul > li:hover {
	background-color: rgba(24,151,153, .8);
}
header .nav-container ul > li:hover a {
	color:#FFF;
}
.subnav{
	display: none;
}
header .nav-container ul > li:hover .subnav{
	display: block;
	font-size: .7em;
    min-width: 250px;
    right: /*57px*/ 0;
    left: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0,0,0,.5);
}
header .nav-container ul > li > a {
	display: table;
	height: 100%;
	padding: 10px 20px;
	text-decoration: none;
	width: 100%;
}
header .nav-container ul > li > a{
	color: rgb(255, 255, 255);
	transition: all 0.4s ease-in-out;
  	-webkit-transition: all 0.4s ease-in-out;
  	-moz-transition: all 0.4s ease-in-out;
  	transform-origin: 50% 0;
}
header .nav-container ul > li > ul > li > a {
	padding: 20px;
}
header .nav-container ul > li > a > span { display: table-cell; vertical-align: middle; }
header .nav-container {
    padding: 0px 0;
}
header .nav-container { position: absolute;  top: 0px; right: 0; font-size: 1.3em; font-weight: 300;}
header .nav-container ul.subnav > li{
	display: block;
	background-color: rgba(24,151,153, .9);
    border-bottom: 2px solid rgba(0,83,83,.1);
}
header .nav-container ul.subnav > li:last-child { border-bottom: none; }
header .nav-container ul.subnav > li:hover a{
	color:#FFF;
	background-color:#005353;
}
header .nav-container ul.subnav{
	position: absolute;
	z-index:9999;
}
.hamburger {
	vertical-align: top;
	height: 100%;
	background: none;
	border: medium none;
	color: #fff;
	width: 50px;
	margin-left: 0px;
	cursor: pointer;
}
header .user-location {
	min-width: 300px;
    position: absolute;
    right: 0;
    background: rgba(0,200,200 ,.9);
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-weight: 400;
}
header .user-location .change-location {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #fff;
    opacity: .8;
    font-weight: 200;
    font-size: .9em;
}
header .user-location .change-location:hover { opacity: 1; color: #fff; text-decoration: underline;}
header .user-location .change-location .text-cancel{display: none;} /* for non amp page only */
header .user-location.expanded .change-location .text-cancel{display: initial;} /* for non amp page only */
header .user-location.expanded .change-location .text-change{display: none;} /* for non amp page only */
header .user-location form{margin-top: 5px; }
header .user-location form{ display: none;}
header .user-location form.show{ display: block;}
header .user-location form input[type=text]{
    border: none;
    padding: 5px 10px;
    border-radius: 100px;
    margin-left: -5px;
    max-width: 180px;
    font-size: inherit;
}
header .user-location form button[type=submit]{
	width: 29px;
    height: 29px;
    padding: 0;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    font-size: .6em;
    vertical-align: top;
    color: #fff;
}


header .nav-container, 
header .hamburger, 
header .site-search {
	transform-origin: 100% 0%; /* for amp transform in shrink effect */
	transition: all 0.4s ease-in-out;
  	-webkit-transition: all 0.4s ease-in-out;
  	-moz-transition: all 0.4s ease-in-out;
}
header .nav-logo{
	transform-origin: 0% 100%; /* for amp transform in shrink effect */
}
#shrink-header-marker { /* for amp transform in shrink effect */
	position: relative;
	width: 0px;
	height: 0px;
}
.sidebar .menu-item.more { display: none; }
.sidebar .subnav { display: block; }

/* BEGIN non AMP version of shrink */
header.shrink { height: 60px; }
header.shrink .navbar-brand .logo { /*width: 200px;*/ transform: scale(0.8);}
header.shrink .nav-container > ul > li > a, 
header.shrink .hamburger, 
header.shrink .site-search {
    /*font-size: 1em;*/
    transform: scale(0.8);
}

/* END non AMP version of shrink */

/* BEGIN new mobile menu */
.mobile-nav{  /* not used yet, has issue in AMP because header is included in shrink animation script */
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 1;
    display: block;

}
/* END new mobile menu */
/* ========================================================== begin amp sidebar */
amp-sidebar .return-button {
 font-size:14px;
 font-weight:400;
 letter-spacing:.56px;
 line-height:16px;
 text-transform:uppercase
}
amp-accordion section {
 border-bottom:2px solid #ededed
}
.accordion-header,.accordion-content {
 margin:20px 0;
 padding:0 25px 0 65px
}
.accordion-header {
 background-color:transparent;
 border:0
}
.accordion-title {
 margin:0;
 position:relative;
 transition:color 0.3s
}
.accordion-title:hover {
 color:#189799
}
.accordion-title::before,.accordion-title::after {
 background:linear-gradient(to right, #0389ff, #0dd3ff);
 content:'';
 display:inline-block;
 height:2px;
 left:-40px;
 position:absolute;
 top:50%;
 width:8px
}
.accordion-title::after {
 transform:rotate(90deg)
}
section[expanded] .accordion-title::after {
 content:none
}
.accordion-content p:first-child {
 margin-top:0
}
.accordion-content p:last-child {
 margin-bottom:2px
}
@media only screen and (max-width: 956px) {
 amp-accordion section {
  border-bottom:1px solid #ededed
 }
 .accordion-header,.accordion-content {
  margin:15px 0;
  padding:0 0 0 30px
 }
 .accordion-title::before,.accordion-title::after {
  left:-30px
 }
}
amp-sidebar {
 background:#fff;
 width:100vw
}
amp-sidebar .submenu {
 background:#fff;
 bottom:0;
 box-shadow:0 3px 20px 0 rgba(0,0,0,0.075);
 left:0;
 position:fixed;
 right:0;
 top:0;
 transform:translateX(100%);
 transition:transform 233ms cubic-bezier(0, 0, 0.21, 1)
}
amp-sidebar input:checked+.submenu {
 transform:translateX(0)
}
amp-sidebar input[type="checkbox"] {
 position:absolute;
 visibility:hidden
}
amp-sidebar .menu-item {
 border-bottom:solid 1px #ededed;
 color:#000;
 display:block;
 position:relative;
 text-transform:none
}
amp-sidebar .menu-item:hover {
 background:#f9f9f9
}
amp-sidebar .item-layer-1,
amp-sidebar .menu-item {
 font-size:19px;
 font-weight:200;
 line-height:32px;
 padding:10px 15px 10px 15px
}
amp-sidebar .item-layer-2,amp-sidebar .item-layer-3 {
 font-size:16px;
 font-weight:300;
 line-height:26px;
 padding:10px 15px 10px 15px
}
amp-sidebar .mobile-nav-wrapper {overflow:hidden;}
amp-sidebar .mobile-nav-wrapper > ul { right: -30px; }
amp-sidebar .menu-layer::after/*,
amp-sidebar .mobile-nav-wrapper::after*/ {
 background:#189799;
 bottom:0;
 content:'';
 position:absolute;
 right:0;
 top:0;
 width:13px
}
amp-sidebar .menu-layer .items,
amp-sidebar .items {
 left:0;
 overflow-x:hidden;
 overflow-y:scroll;
 position:absolute;
 right:0
}
amp-sidebar .menu-layer.primary {
	height:100%;
	position:relative
}
amp-sidebar .menu-layer.primary .items,
amp-sidebar .items {
	bottom:30px;
	top:50px
}
amp-sidebar .menu-layer.secondary {
 z-index:2
}
amp-sidebar .menu-layer.tertiary {
 z-index:3
}
amp-sidebar .menu-layer.secondary .items,amp-sidebar .menu-layer.tertiary .items {
 bottom:0;
 top:85px
}
amp-sidebar .has-sub-level::after {
	content:"\f105";
	position:absolute;
	right:35px;
	font-family: "FontAwesome";
	color:#cc2028;
	font-size:16px;
}
amp-sidebar .close-button {
 background:url(https://bucketeer-f89a8bf8-b9eb-4a29-a499-6a6f6369899a.s3.amazonaws.com/close.png) no-repeat center/18px transparent;
 border:0;
 height:58px;
 position:absolute;
 right:13px;
 top:0;
 width:68px
}
amp-sidebar .return-button {
 color:#b3b3b3;
 font-weight:300;
 left:25px;
 position:absolute;
 top:22px
}
amp-sidebar .return-button::before {
 background:url(https://bucketeer-f89a8bf8-b9eb-4a29-a499-6a6f6369899a.s3.amazonaws.com/return.png) no-repeat center/contain transparent;
 border:0;
 content:'';
 display:inline-block;
 height:11px;
 margin-right:5px;
 position:relative;
 top:1px;
 width:7px
}
/* ========================================================== end amp sidebar */

/* ========================================================== begin interior locator */
.locator{
	display:block;
	text-align:center;
}
body.interior .locator{
	display:inline-block;
}
.locator form {
	background-color: #fff;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	clear: both;
	display: inline-block;
	padding: 8px;
	text-align: center;
	width: auto;
	margin:20px auto;
}
body.interior .locator form {
	min-width: 252px;
	margin:0;
}
.locator span{
	font-weight:700;
	font-size:14px;
}
body.interior .locator span{
	font-size:12px;
}
.locator  #submitBtn {
	background-color: #ebebeb;
	border: medium none;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	height: 30px;
	text-align: center;
	width: 30px;
	color:#189799;
}
body.interior .locator #submitBtn { font-size: 1em; }
#zipcode:not(.reset) {
	background-color: #ebebeb;
	border: none;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	height: 30px;
	text-align: center;
}
.interior #zipcode:not(.reset) {
	font-size: 11px;
	max-width: 100px;
}
/* ========================================================== end interior locator */
.text-center{
	text-align:center;
}
.interior p:not(.reset) {
	line-height: 24px;
	font-size: 16px;
}
.footer{
	background-color: #003334;
	color: #fff;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}
.footer a { color: #fff; }
.footer a:hover { text-decoration: underline; }

.footer .links-column {
    margin-bottom: 30px;
}

.footer.corporate {
	    padding: 50px 0;   
}
.footer.corporate p {
	margin-bottom: 10px;
}
.footer.corporate h4 {
	font-size: 1.2em;
    margin-bottom: 20px;
}
.footer.corporate .logo img { width: 100%; max-width: 250px; opacity: .2; }
.footer.corporate .logo,
.footer.corporate .site-links { padding-bottom: 30px; }
.footer.corporate .site-links li { font-size: .9em; margin-bottom: 10px; }
.footer.corporate .corp-info { border-left: 1px solid rgba(255,255,255,.5); }
.footer.corporate .corp-info .contact-info {
	margin-bottom: 20px;
}
.footer.corporate .corp-info .contact-info .fa { font-size: 26px; color: #199999; margin-right: 6px; }
.footer.corporate .social-links { margin: 10px 0 15px; }
.footer.corporate .social-links li{ padding-right: 5px; }
.footer .social-links a.facebook .fa-stack-1x{ color:#3b5998; }
.footer .social-links a.twitter .fa-stack-1x{ color:#1da1f2; }
.footer .social-links a.google-plus .fa-stack-1x{ color:#ea4335; }
.footer .social-links a.youtube .fa-stack-1x{ color:#ff0000; }
.footer .social-links a.yelp .fa-stack-1x{ color:#af0606; }
.footer .social-links a.instagram .fa-stack-1x{ color:#cd486b; }
.footer .social-links a.facebook .fa-stack:hover{ color:#3b5998; }
.footer .social-links a.twitter .fa-stack:hover{ color:#1da1f2; }
.footer .social-links a.google-plus .fa-stack:hover{ color:#ea4335; }
.footer .social-links a.youtube .fa-stack:hover{ color:#ff0000; }
.footer .social-links a.yelp .fa-stack:hover{ color:#af0606; }
.footer .social-links a.instagram .fa-stack:hover{ color:#cd486b; }
.footer .social-links a:hover .fa-stack-1x{color:#fff;}
.footer.corporate .corp-info small {
	color: #4f6668;
}
.footer.corporate .contact-info .phone-wrapper{
	margin-left: -10px;
}
.footer.corporate .contact-info .btn{
    background: rgba(0,0,0,.4);
    width: auto;
    padding: 5px 20px;
    font-size: 1.6em;
}
.footer.corporate .contact-info .btn:hover{
    background: rgba(255,255,255,.2);
}
/* ============================== begin for footer of location pages =======*/
.footer .box{
	width:25%;
	float:left;
	color:#FFF;
	padding:0 10px;
	font-size:13px;
	line-height:24px;
}
.footer .fa-stack-1x {
    color: #b3393e;
}
.footer .box ul{
	list-style:none;
}
.footer .box ul li a{
	margin-bottom:5px;
}
.footer .box a{
	color:#FFF;
}
.footer .box h3{
	font-size:20px;
}
.footer social-icons{
	margin-top:10px;
}
.footer h3{
	color:#FFF;
}
/* ============================== end for footer of location pages =======*/
.bottom-footer{
	color:#FFF;
	background-color:#000;
	font-size:12px;	
	padding:20px 0;
}
.bottom-footer a{
	color:#FFF;
}
.bottom-footer a:not(:last-child){
	padding-right:20px;
}
.bottom-footer p{
	margin:0;
	font-size:12px;	
}
.topBtn{
	background-color:#FFF;
	color:#189799;
	text-align:center;
	padding:5px 15px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin:0 15px;
	margin-bottom: 10px; 
	display: inline-block; 
}
.interior .hero-image{
	position:relative;
	/*background-image:url("/img/interior.jpg");*/
    background-image: url(https://bucketeer-f89a8bf8-b9eb-4a29-a499-6a6f6369899a.s3.amazonaws.com/store-bkgd-ex.jpg);
    background-position: 50%50%;
	min-height:225px;
	display:flex;
	align-items:center;
	background-size: cover;
	/*background-position: 50%;*/
	background-color: #189799;
	/*background-blend-mode: multiply; (not supported in edge. alternative below) */
}
/*======== begin alternative to blending mode for all browsers*/
.interior .hero-image:before{
	display:block;
	content:'';
	position:absolute;
	z-index:10;
	width:100%;
	height:100%;
	background-color: rgba(3,17,17,.3);
}
.interior .hero-image > div { position: relative; z-index:20; display: table; padding: 10px 5px; padding-top: 110px;/* height of header */ }
/*========== end alternative to blending mode for all browsers*/

.interior .hero-image .btns{
	margin-top:36px;
	display: table-cell;
	float: none;
	vertical-align: middle;
	text-align: right;
}
.interior h2:not(.reset){
	margin: 0 0 20px;
	color: #cc2028;
}

.certified{
	background-color:#f7f5f6;
}
.certified amp-img{
	margin-right:20px;
}
.certified p{
	line-height:30px;
	font-size:16px;
}
.half{
	width:50%;
	float:left;
	padding:0 15px;
}
.half.border-right{
	border-right:1px solid #FFF;
}
.half .holder{
	width:80%;
	margin:auto;
}
.certified .btn{
	background-color: #189799;
	color: #fff;
}
.top-foot{
	color:#FFF;
	font-size:14px;
	line-height:22px;
}
.top-foot > .container{
	max-width: 100%;
}
.top-foot .holder { position: relative; z-index: 10;  padding: 40px; height: 100%; display: table; }
.top-foot > .container .list-item { padding: 0; }
.top-foot > .container .list-item:after {
	content:'';
	position: absolute;
	z-index: 1;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(left, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%); 
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); 
	background: linear-gradient(to right, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); 
}
.top-foot > .container .certified-pre-owned{ background: #666666; }
.top-foot > .container .financing { background: #cc2028; }
.top-foot > .container .experisure{ background: #029a98; }
/*.top-foot > .container*/ .certified-pre-owned .logo-img {max-width: 250px; margin: 0 auto;}
/*.top-foot > .container*/ .financing .logo-img {max-width: 275px; margin: 0 auto;}
/*.top-foot > .container*/ .experisure .logo-img {max-width: 319px; margin: 0 auto;}

.btn-holder{ display: table-footer-group; }
.top-foot p{
	font-size:14px;
	line-height:22px;
}
.top-foot .btn{
	background-color: #FFF;
	color: #cc2028;
}

.top-foot .btn:hover{
	background-color: #000;
	color: #fff;
}

.interior h1{
	font-weight:200;
	color:#FFF;
	font-size: 48px;
}


.step-breadcrumbs{
	font-size: .9em;
	font-weight: 400;
    clear: both;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.step-bc {
  padding: 1em 1em;
  background-color: #edeff0;
}
.step-bc:after {
  content: "";
  display: table;
  clear: both;
}
.step-bc li {
  display: inline-block;
  float: left;
}
.step-bc li::after {
  display: inline-block;
  content: '\00bb';
  margin: 0 .6em;
  color: #959fa5;
}
.step-bc li:last-of-type::after {
  display: none;
}
.step-bc li > * {
  display: inline-block;
  color: #036769;
}
.step-bc li.current > * {
  color: #159c9b;
}
.no-touch .step-bc a:hover {
  color: #159c9b;
}
.text-white{
	color:#FFF;
}
/* ====== */
@media only screen and (min-width: 768px) {
  .step-bc {
    background-color: transparent;
    padding: 0;
    background: #159c9b;
    border-radius: 5px;
	overflow: hidden;
  }
  .step-bc li {
    position: relative;
    padding: 0;
  }
  .step-bc li:last-of-type {
    margin-right: 0;
  }
  .step-bc li > * {
    position: relative;
    padding: 1em .8em 1em 2.5em;
    color: #2c3f4c;
    background-color: #f7f5f5;
    border-color: #f7f5f5;
  }
  .step-bc li.current > * {
    color: #ffffff;
    background-color: #159c9b;
    border-color: #159c9b;
  }
  .step-bc li:first-of-type > * {
    padding-left: 1.6em;
    /*border-radius: .25em 0 0 .25em;*/
  }
  .step-bc li:last-of-type > * {
    padding-right: 1.6em;
    border-radius: 0 .25em .25em 0;
  }
  .step-bc a:hover {
    color: #ffffff;
    background-color: #036769;
    border-color: #036769;
  }
  .step-bc li::after, .step-bc li > *::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 100%;
    height: 0;
    width: 0;
    border: 30px solid transparent;
    border-right-width: 0;
    border-left-width: 23px;
  }
  .step-bc li::after {
    z-index: 1;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    border-left-color: #ffffff;
    margin: 0;
  }
  .step-bc li > *::after {
    z-index: 2;
    border-left-color: inherit;
  }
  .step-bc li:last-of-type::after, .step-bc li:last-of-type > *::after {
    display: none;
  }
  
}

/*==repair form =======*/
.repair-form-wrap  .service-summary h2 { border-bottom: 1px solid #036769;  }
.repair-form-wrap  .service-summary .device-wrapper amp-img{ max-width:100px; margin: 0 auto;}


@media (max-width: 1200px) {
	header .nav-container > ul > li > a{
		padding: 41px 10px;
		font-size: 18px;
	}
}

@media (max-width: 768px) {
	.mobile-hidden{
		display:none;
	}
	#franchise{
		display:none;
	}
	.interior h1{
		font-size: 40px;
	}

	.interior .hero-image .btns{
		margin-top:0;
		float: none;
		font-size:12px;
	}
	.interior .hero-image{
		display: block;
		text-align: center;
	}
	.interior .hero-image h1 {
		font-size: 30px;
		float:none;
		margin-top:10px;
	}
	.half {
		float: none;
		width: 100%;
		padding:15px;
	}
	.half.border-right{
		border-right:none;
		border-bottom:1px solid #FFF;
	}
	.half .holder{
		width:100%;
	}
	.certified amp-img {
		display: block;
		float: none;
		margin: auto;
	}
	.certified .btn{
		display: block;
		margin: auto;
	}
	
	.hamburger{
		position: initial;
		margin-bottom: 10px;
	}
	
	.navbar-header {
		/*float: none;*/
		text-align: center;
	}
	.mobile-hidden:not(.nav-container){
		display:none;
	}
	.interior .hero-image > div,
	.interior .hero-image .btns { display: block; }
	.interior .hero-image .btns {text-align: unset;}
	.footer.corporate .corp-info {border-left: none; border-top: 1px solid rgba(255,255,255,.1); padding-top: 30px;  }


}
@media (min-width: 769px) {
	.mobile-display:not(.hamburger){
		display:none;
	}
	#nav-expander{
		display:none;
	}

	.footer.corporate .corp-info { padding-left: 30px; }
}
@media (max-width: 1040px) {

		/* BEGIN non AMP version of shrink */
	header { height: 60px; }
	header .navbar-brand .logo {transform: scale(0.8);}

	.mobile-hidden.nav-container > .nav-menu{
		display:none;
	}

	#franchise {
    	padding: 6px 16px 8px;
    	border-radius: 5px;
	}
}
@media (min-width: 1040px) {
	.mobile-display.hamburger{
		display:none;
	}
}
@media (max-width: 620px) {
	.hamburger { float: right;}
}
@media (max-width: 480px) {
	.navbar-brand .logo {
		max-width: 200px;
	}
}		  	.main-content{ width:70%; float:left; padding: 0 15px;}
/*.container{overflow: hidden;}*/

.position-relative{position: relative;}
.distance{ font-size:12px; position: absolute; /*top:0;*/ right:10px;}
.storeDetails .companyname a:hover {text-decoration: underline;}
.storeDetails .storename {width: 75%; display: inline-block;}
.selected .storeDetails .links a {background-color: rgba(0,0,0,.5);}
.selected .storeDetails .links a:hover {background-color: rgba(255,255,255,.3); box-shadow: 0 0 3px rgba(0,0,0,.5); }

.selected .storeDetails .links .icon{
    max-width: 30px;
    float: left;
    position: relative;
    width: 100%;
    margin-right: 3px;
    top: -8px;
}

form.amp-form-submitting [submitting]{ background-color:#f00;}
form.amp-form-submit-success [submit-success]{ max-height: 400px; overflow-y: scroll; width: 100%; }
.text-success{ color:#28a745; }
.text-danger{ color:#dc3545; }

/*common-locations*/

p{ line-height: 24px; font-size: 16px;	}

body:not(.blog) .interior h2:not(.reset) { font-size: 30px; font-weight: 600; margin-top: 0; margin-bottom: 20px;}
.shop-brand-icons {background-color: #cc2028; }
.shop-brand-icons .container{ display: table; width: 100%; max-width: 1170px; text-align: center; }
.shop-brand-icons .icon-item { height: 100%; display: table-cell; vertical-align: middle; padding: 10px; }
.shop-brand-icons .icon-item amp-img { width: 100%; margin:0 auto;}
.shop-brand-icons .icon-item.brand-certified-pre-owned amp-img{ max-width:120px;}
.shop-brand-icons .icon-item.brand-experisure amp-img{ max-width: 170px;}
.shop-brand-icons .icon-item.brand-financing amp-img{ max-width:140px;}

/*= begin round */

.service-icon { background: #036769; display:inline-block; padding: 10px; line-height: 0; margin: 2px; margin-bottom: 5px; border-radius:50%;}

.repair-service-link:hover .service-icon { cursor: pointer; background: #139C9B;}

.service-icon,
.service-icon img{ max-width: 95px; width: 100%; opacity: 1;}


/* end round */

ul.featured-services{ padding: 20px; margin-bottom: 40px; }

.repair-service-item{}
.repair-service-link{}
.service-icon { margin-right: 15px; }
.service-icon,
.service-label{ display: inline-block; vertical-align: middle; }
.service-label { margin-bottom: 0; }
.service-label > span { display: block; }
.service-title{ color: #036769; font-size: 1em;  }
.service-price{ color: #cc2028; font-weight: 600; font-size: .8em; }

ul.auto-col { column-gap: 0; width: 100%; margin: 0; }
ul.auto-col li { width: 200px; font-size: .9em; margin-left: 25px; }
ul.auto-col.count-3 { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; }
ul.auto-col.count-2 { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; }
ul.auto-col.count-1 { -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; }
@media (min-width:576px){
	ul.auto-col.count-sm-3 { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; }
	ul.auto-col.count-sm-2 { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; }
	ul.auto-col.count-sm-1 { -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; }
}
@media (min-width:768px){ul.auto-col.count-md-3 { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; }}
@media (min-width:992px){ul.auto-col.count-lg-3 { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; }}
@media (min-width:1200px){ul.auto-col.count-xl-3 { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; }}

@media (min-width: 768px) and (max-width: 1080px){
	.selected .storeDetails .links .icon {
	    float: none;
	    margin: 0 auto;
	    top: -5px;
	}
}

@media (max-width: 768px) {
    .storeDetails .phone { padding-left: 0; float: left; }
    .storeDetails .time { padding: 5px 0 0 0; float: right; }
}

@media (max-width: 680px) {
	.footer .box{width:100%;}
	.section {margin: 20px auto;}
	.hamburger{margin-top:0;}
}

@media (max-width: 640px) {
	.selected .storeDetails .links a span{ display: block; }

	.selected .storeDetails .links .icon { top: 0; }
}

@media (max-width: 480px) {
	.selected .storeDetails .links .icon {
	    float: none;
	    margin: 0 auto;
	    top: -5px;
	}
}

.lh-1{line-height: 1.1em;}.lh-1-3{line-height: 1.3em;}.lh-1-5{line-height: 1.5em;}.lh-1-7{line-height: 1.7em;}  
.bk-white{background-color:#FFF;}.bk-blk{background-color:#000;}.bk-red{background-color:#cc2028;}.bk-ltgrey{background-color:#f7f5f5;}.bk-drkgrey{background-color:#444;}.bk-exmteal{background-color:#189799;}.bk-drkcyan{background-color:#036769;}.fs-4xl{font-size:2.4em;}.fs-3xl{font-size:2.2em;}.fs-2xl{font-size:2em;}.fs-xl{font-size:1.7em;}.fs-lg{font-size:1.45em;}.fs-md{font-size:1.2em;}.fs-sm{font-size:.9em;}.fs-xs{font-size:.8em;}.fs-xxs{font-size:.7em;}.fs-xxxs{font-size:.6em;}.c-white{color:#fff;}.c-red{color:#cc2028;}.c-drkgrey{color:#444;}.c-exmcyan{color:#189799;}.c-drkcyan{color:#036769;}.fw-100{font-weight:100;}.fw-300{font-weight:300;}.fw-400{font-weight:400;}.fw-500{font-weight:500;}.fw-600{font-weight:600;}.pad-all2{padding:2px;}.pad-all5{padding:5px;}.pad-all8{padding:8px;}.pad-all10{padding:10px;}.pad-all15{padding:15px;}.pad-all20{padding:20px;}.pad-all30{padding:30px;}.pad-t2{padding-top:2px;}.pad-t5{padding-top:5px;}.pad-t8{padding-top:8px;}.pad-t10{padding-top:10px;}.pad-t15{padding-top:15px;}.pad-r2{padding-right:2px;}.pad-r5{padding-right:5px;}.pad-r8{padding-right:8px;}.pad-r10{padding-right:10px;}.pad-r15{padding-right:15px;}.pad-r20{padding-right:20px;}.pad-r30{padding-right:30px;}.pad-b0{padding-bottom:0px;}.pad-b2{padding-bottom:2px;}.pad-b5{padding-bottom:5px;}.pad-b8{padding-bottom:8px;}.pad-b10{padding-bottom:10px;}.pad-b15{padding-bottom:15px;}.pad-l2{padding-left:2px;}.pad-l5{padding-left:5px;}.pad-l8{padding-left:8px;}.pad-l10{padding-left:10px;}.pad-l15{padding-left:15px;}.pad-l20{padding-left:20px;}.pad-l30{padding-left:30px;}.btm-0{margin-bottom:0;}.top-0{margin-top:0;}.btm-10{margin-bottom:10px;}.top-10{margin-top:10px;}.btm-20{margin-bottom:20px;}.top-20{margin-top:20px;}.btm-30{margin-bottom:30px;}.top-30{margin-top:30px;}.btm-40{margin-bottom:40px;}.top-40{margin-top:40px;}.btm-50{margin-bottom:50px;}.top-50{margin-top:50px;}.btm-60{margin-bottom:60px;}.top-60{margin-top:60px;}.btm-70{margin-bottom:70px;}.top-70{margin-top:70px;}.btm-80{margin-bottom:80px;}.top-80{margin-top:80px;}.btm-90{margin-bottom:90px;}.top-90{margin-top:90px;}.btm-100{margin-bottom:100px;}.top-100{margin-top:100px;}.brdr-0{border:none;}.brdr-r3{border-radius:3px;}.brdr-r5{border-radius:5px;}.brdr-r8{border-radius:8px;}.brdr-r10{border-radius:10px;}.brdr-r50{border-radius:50px;}.brdr-tr0{border-top-right-radius:0;}.brdr-tl0{border-top-left-radius:0;}.brdr-br0{border-bottom-right-radius:0;}.brdr-bl0{border-bottom-left-radius:0;}
		
			.amp-mode-mouse .amp-carousel-button, amp-carousel[controls] .amp-carousel-button{
				visibility: hidden;
			}
			.store-info{
				background-color:#189799;
				overflow:hidden;
				padding:20px 0;
				color:#FFF;
			}
			.store-info .box{
				width:25%;
				float:left;
				line-height: 1.7em;
				padding:0 10px;
			}
			.store-info .address{
				font-weight:600;
			}
			.store-info .address .phoneNum{
				font-weight:700;
				font-size:24px;
				color:#FFF;
			}
			.store-info .btn{
				background-color:#ebebeb;
				font-size:16px;
				display:block;
				margin-bottom:10px;
				color:#189799;
				text-decoration:none;
				text-align:center;
				padding:10px;
				-moz-border-radius:10px;
				-webkit-border-radius:10px;
				border-radius:10px;
			}
			.store-info .bk-red {
				background-color: #cc2028;
				color:#fff;
			}
			.store-info .hours{
				font-weight:200;
				font-size:14px;
			}
			.store-info .hours h3{
				font-weight:200;
				font-size:24px;
				margin-top:0;
			}
			.store-info .hours td strong{
				padding-right:20px;
			}
			.store-info .fa-stack-1x {
				color:#b3393e;
			}
			.store-info .social-icons{
				margin-top:10px;
			}
			.store-info .fa-circle{
				color:#FFF;
			}
			
			.store-info .hours table {
				line-height: 1.3em;
			}
			
			.container .intro {
				line-height:1.5em;
				width:90%;
			}
			#dd{
				padding-top:20px;
			}
			#dd .btn{
				margin: auto;
				margin-top: 15px;
				margin-bottom: 0px;
			    width: 70%;
			}
			h2{
				color:#189799;
			}
			.shop-pre-owned .product span{
				background-color: #189799;
			}
			.shop-pre-owned .product span::before{
				-moz-border-bottom-colors: none;
				-moz-border-left-colors: none;
				-moz-border-right-colors: none;
				-moz-border-top-colors: none;
				border-color: transparent transparent #189799;
			}
			.sell-or-trade{
				background-color:#f7f5f5;
			}
			.sell-or-trade .container{
				padding:30px 15px;
			}
			.sell-or-trade .imgHolder{
				width:371px;
				height:194px;
				padding-right:30px;
			}

			.location-intro-wrapper{
				position: relative;
			    /*background-image: url(/img/store-bkgd.jpg);*/
			    min-height: 225px;
			    display: flex;
			    align-items: center;
			    background-size: cover;
			    background-position: 50%;
			}

/*			.location-intro-wrapper, .location-intro-wrapper h2{
				color: #fff;
			}
*/
			.location-intro-wrapper h2{
				margin-bottom: 20px;
			}

			.testi{
				background-color:#ca2028;
				color:#FFF;
			}
			.testi h3{
				font-size:30px;
				margin:0;
			}
			.testi p{
				margin:0;
				line-height:24px;
			}
			.holiday{
				font-size:14px;
				line-height:22px;
			}
			.tabButton[selected] {
				outline: none;
				background: #036769;
				color:#FFF;
			}
			.tabButton {
				list-style: none;
				flex-grow: 1;
				text-align: center;
				cursor: pointer;
			}
			.tabContent {
				display: none;
				width: 100%;
				order: 1; /* must be greater than the order of the tab buttons to flex to the next line */
				border: 1px solid #ccc;
			}

			.tabButton[selected]+.tabContent {
				display: block;
			}
			/* Styles for the flex layout based tabs */
			amp-selector[role=tablist].tabs-with-flex {
				display: flex;
				flex-wrap: wrap;
			}
			amp-selector[role=tablist].tabs-with-flex [role=tab] {
				flex-grow: 1;

			}
			amp-selector[role=tablist].tabs-with-flex [role=tab][selected] {
				outline: none;
			}
			amp-selector[role=tablist].tabs-with-flex [role=tabpanel] {
				display: none;
				width: 100%;
				order: 1; /* must be greater than the order of the tab buttons to flex to the next line */

			}
			amp-selector[role=tablist].tabs-with-flex [role=tab][selected] + [role=tabpanel] {
				display: block;
			}

			/* Styles for the selector based tabs */
			amp-selector[role=tablist].tabs-with-selector {
				display: flex;
			}
			amp-selector[role=tablist].tabs-with-selector [role=tab][selected] {
				outline: none;

			}
			amp-selector[role=tablist].tabs-with-selector {
				display: flex;
			}

			amp-selector.tabpanels [role=tabpanel] {
			  display: none;
		
			}
			amp-selector.tabpanels [role=tabpanel][selected] {
			  outline: none;
			  display: block;
			}
			.h2,.h3{
				display: block;
				margin-top:10px;
			}
			.h2{
				font-size:1.5em;
				font-weight:bold;
				color:#cc2028;
			}
			.h3{
				font-size:1.17em;
			}
			.fixed-container {
				position: relative;
				width: 100%;
				height: 300px;
			}
			amp-img.contain img {
			  object-fit: scale-down;
			}
			@media (max-width: 680px) {
				.store-info .hours{
					display:none;
				}
				.store-info .box{
					width:50%;
				}
				.store-info .container {
					padding: 0;
				}
				.store-info .box.map {
					width: 40%;
				}
				.store-info .box.address {
					width: 60%;
				}
				.store-info .box.address {
					font-size: 14px;
				}
				.container .intro {
					width: 100%;
				}
				.testi h3{
					text-align:center;
					margin-bottom:20px;
				}
			}
			@media (max-width: 768px) {
				.store-info .buttons{
					display:none;
				}
				.store-info .box{
					width:33.3333%;
				}
				.store-info .hours .pull-right{
					float:none;
				}
			}